@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-animation {
    transition: scroll-behavior 2s; /* Doba trvání scrollování */
  }
  .animate-fade-in {
    animation: fade-in 1s ease-out;
    text-decoration: dotted;
    font-size: 80px;
  }